.event-tickets-table {
    /* width: 1em; */
    table-layout: fixed;
    /* border-radius: 2px;
    border-color: black; */
}

.event-tickets-table tr {
    /* background-color: lightgray; */
    /* border-radius: 2px;
    border-color: black; */
}

.event-tickets-table td {
    width: 2em;
    height: 2em;
    background-color: lightgray;
}

.event-tickets-table td:hover {
    transform: scale(1.05)
}

.event-tickets-table td.selected {
    background-color: lightgreen;
}

.event-tickets-table td.taken {
    background-color: red;
}