.logoTypo{
    /* color: black; */
    font: weight 500px;
    font-size: large !important;
    padding-left: 20px;

}
.stackBtn{
    /* color: black !important; */
    text-transform: none !important;
    font-size: medium;
}